$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 320px;

$background-color: #30343F;
$primary-text-color: #FAFAFF;

$primary-color: #E4D9FF;
$secondary-color: #273469;
$tertiary-color: #1E2749;