$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 320px;

$background-color: #F2F2F2;
$primary-text-color: #0D0D0D;

$primary-color: #030A8C;
$secondary-color: #B3E7F2;
$tertiary-color: #F2AA52;