// Importing colors
@import './styles/variables';

@font-face {
  font-family: 'Poppins';
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  background: $background-color;
  font-family: 'Poppins';
  color: $primary-text-color;
  font-size: 1rem;
}

/* Titles for Both Home & Details */
.page-name {
  font-size: 3em;
  text-align: center;
  margin: 20px 0; 
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width: $screen-medium) {
  .page-name {
    font-size: 2em;
  }

  body {
    font-size: 0.875rem;
  }
}

@media (max-width: $screen-small) {
  .page-name {
    font-size: 1.5em;
  }

  body {
    font-size: 0.75rem;
  }
}