// Importing colors
@import './styles/variables';

@font-face {
  font-family: 'Poppins';
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  background: $background-color;
  font-family: 'Poppins';
  color: $primary-text-color;
}

.page-name {
  font-size: 3em;
  align-items: center;
}