@font-face {
  font-family: 'Poppins';
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0;
  font-family: 'Poppins';
}