@import '../../styles/variables';

/* Centering the product details */
.details-page {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    position: relative;
}

/* Back Button Styling */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.back-icon {
    width: 48px;
    height: 48px;
}

.back-button:hover .back-icon {
    opacity: 0.7;
}

/* Container for the product details */
.product-details {
    display: flex;
    align-items: center;    
    text-align: center;
    padding: 20px;
    /* Bordering */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $background-color;
    max-width: 600px;
    margin: 20px;
}
  
.product-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 20px;
    flex-direction: column;
}

/* Image styling */
.product-details img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
  
/* Product Title Styling */
.product-title {
    margin: 0;
    padding: 0;
    font-size: 2em;
}
  
/* Description styling */
.product-details {
    margin: 10px 0; 
    font-size: 1em;
}
  
/* Price and brand styling */
.product-price .product-brand {
    font-size: 1.2em;
}  

/* Price Styling */
.product-price {
    margin: 10px 0;
}

/* Brand Styling */
.product-brand {
    font-style: italic;
}



/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width: $screen-large) {
    .product-container {
        max-width: 90%;
    }

    .product-title {
        font-size: 1.75em;
    }
}

@media (max-width: $screen-medium) {
    .product-container {
        padding: 15px;
        max-width: 80%;
    }

    .product-title {
        font-size: 1.5em;
    }
    
    .product-details {
        font-size: 0.875em;
    }

    .product-details img {
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}

@media (max-width: $screen-small) {
    .product-container {
        padding: 10px;
        max-width: 100%;
    }
    
    .product-title {
        font-size: 1.25em;
    }

    .product-details {
        font-size: 0.75em;
    }

    .product-details img {
        padding-bottom: 3px;
        margin-bottom: 5px;
    }
}